<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">ShortKut</h1>
            <div class="featurette">
                <div class="featurette-inner text-center">
                    <form role="form" class="search has-button">

                        <div class="form-group">
                            <input type="search" placeholder="Search shorts..." class="form-control form-control-lg">
                            <button class="btn btn-warning" type="button">Search</button>
                        </div>
                        <!-- /form-group -->
                    </form>
                    <!-- /.max-width on this form -->

                </div>
                <!-- /.featurette-inner (display:table-cell) -->

            </div>

        </div>
    </div>
</div>