<div class="container-fluid" ng-controller="ProfileController">
    <video autoplay loop muted id="bgvid">
        <source src="css/videos/Blurry-People.mp4" type="video/mp4">
    </video>
    <div class="row">
        <div ng-include="'views/sidebar/sidebar.view.html'">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div class="well panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 text-center">
                                    <img src="http://api.randomuser.me/portraits/women/21.jpg" alt="" class="center-block img-circle img-thumbnail img-responsive">
                                </div>
                                <!--/col-->
                                <div class="col-xs-12 col-sm-8">
                                    <h2>{{profileHeader.username}}</h2>
                                    <p class="visible-lg"><strong>About: </strong> {{profileHeader.description}}</p>
                                    <p><strong>Role: </strong>{{profileHeader.role[0]}}</p>
                                <hr>
                                </div>
                                <!--/col-->
                                <div class="clearfix"></div>
                                <div class="col-xs-12 col-sm-4">
                                    <button class="btn btn-block prf-follower-btn" ng-click="showFollowerDetails = ! showFollowerDetails"><span class="fa fa-users"></span>({{profileHeader.followers.length}}) Followers</button>
                                    <button class="btn btn-block prf-profile-btn" ng-click="showProfileDetails = ! showProfileDetails"><span class="fa fa-user"></span>Edit Profile</button>
                                </div>
                                <!--/col-->
                                <div class="col-xs-12 col-sm-4">
                                    <button class="btn btn-block prf-following-btn" ng-click="showFollowingDetails = ! showFollowingDetails"><span class="fa fa-spotify"></span>({{profileHeader.following.length}}) Following</button>
                                    <button class="btn btn-block prf-shorts-btn" ng-click="showShortDetails = ! showShortDetails"><span class="fa fa-thumbs-up"></span> Shorts You Liked</button>
                                </div>
                                <!--/col-->
                                <div class="col-xs-12 col-sm-4">

                                    <button class="btn btn-block prf-reviews-btn" ng-click="showReviewDetails = ! showReviewDetails"><span class="fa fa-check-circle"></span> Reviews</button>
                                    <button type="button" class="btn btn-primary btn-block" ng-click="showPostDetails = ! showPostDetails"><span class="fa fa-flag"></span>Posts </button>
                                </div>
                                <!--/col-->
                            </div>
                            <hr>
                        <!--/panel-body-->
                    </div>
                    <!--/panel-->
                </div>
                <!--/col-->
            </div>
                <div ng-class="{ 'hidden': ! showPostDetails }">
                <div class="col-md-offset-3 col-md-8 col-xs-12">
                    <div class="well panel panel-default">
                        <div class="panel-body">
                            <p>Posts by {{model.public.username}}</p>
                            <div ng-repeat="post in model.posts">
                                <a href="#/posts/{{post._id}}">{{post.title}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-class="{ 'hidden': ! showShortDetails }">
                <div class="col-md-offset-3 col-md-8 col-xs-12">
                    <div class="well panel panel-default">
                        <div class="panel-body">
                            <p>Shorts by {{profile.username}}</p>
                            <div ng-repeat="short in shortLikes track by $index">

                                <a href="#/details/search/{{short.ytID}}">{{short.title}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-class="{ 'hidden': ! showProfileDetails }">
                <div class="col-md-offset-3 col-md-8 col-xs-12">
                    <div class="well panel panel-info">
                        <div class="panel-heading">Details</div>
                        <div class="panel-body">
                            <div class="row" >
                                <div class="form-group col-lg-8 col-centered">
                                    <label for="username">User Name</label>
                                    <input type="text" class="form-control" id="username" placeholder="User Name" ng-model="profile.username"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-8 col-centered">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="profile.firstName"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-8 col-centered">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="profile.lastName"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-8 col-centered">
                                    <label for="description">Description</label>
                     <textarea  class="form-control" id="description" placeholder="Tell us what you do, did, will do"
                                ng-model="profile.description">
                    </textarea>
                                </div>
                            </div>
                            <!--<div class="row">-->
                            <!--<div class="form-group col-xs-12 col-lg-8">-->
                            <!--<label for="dob">Date of Birth:</label>-->
                            <!--<input type="date" class="form-control" id="dob" ng-model="profile.dob"/>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="row">
                                <div class="form-group col-lg-8 col-centered">
                                    <label for="role">
                                        Who are you?
                                    </label>
                                    <div id="role">
                                        <select class="form-control" ng-model="profile.roles">
                                            <option ng-selected="profile.roles == 'Director'" >Director</option>
                                            <option ng-selected="profile.roles == 'Actor'" >Actor</option>
                                            <option ng-selected="profile.roles == 'Producer'" >Producer</option>
                                            <option ng-selected="profile.roles == 'Cinematographer'">Cinematographer</option>
                                            <option ng-selected="profile.roles == 'Music Director'">Music Director</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row col-lg-8 col-centered">

                                <button type="button" class="btn btn-success col-xs-12 col-lg-6" ng-click="update()">Update</button>
                            </div>
                            <!--<div class="row">-->
                                <!--<div class="form-group col-centered">-->
                                    <!--<div class="col-sm-offset-3 col-sm-9">-->
                                        <!--&lt;!&ndash;<button type="submit" class="btn btn-default" href="home.view.html">Register</button>&ndash;&gt;-->
                                        <!--<a href="" class="btn btn-primary btn-lg" ng-click="update()">Update</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>


                <div ng-class="{ 'hidden': ! showReviewDetails }">
                    <div class="col-md-offset-3 col-md-8 col-xs-12">
                        <div class="well panel panel-warning">
                            <div class="panel-heading">
                                Reviews
                            </div>
                            <div class="panel-body">
                                <div ng-repeat="review in userReviews">
                                    <a href="#/details/search/{{review.shortId}}">{{review.content}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-class="{ 'hidden': ! showFollowingDetails }">
                    <div class="col-md-offset-3 col-md-8 col-xs-12">
                        <div class="well panel panel-default">
                            <div class="panel-body">
                                <p> Following </p>
                                <div ng-repeat="user in following">
                                    <a href="#/profile/public/{{user}}">{{user}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-class="{ 'hidden': ! showFollowersDetails }">
                    <div class="col-md-offset-3 col-md-8 col-xs-12">
                        <div class="well panel panel-default">
                            <div class="panel-body">
                                <p> Followers </p>
                                <div ng-repeat="user in followers">
                                    <a href="#/profile/public/{{user}}">{{user}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--/row-->
        </div>

        <!--/container-->

    </div>

    </div>
 </div>




