<div class="container-fluid" ng-controller="ProfileController">
    <video autoplay loop muted id="bgvid">
        <source src="css/videos/Blurry-People.mp4" type="video/mp4">
    </video>
    <div class="row">
        <div ng-include="'views/sidebar/sidebar.view.html'">
        </div>
        <div class="col-md-9 col-xs-12">
            <h1 class="page-header">{{currentUser.username}}</h1>

            <div class="row" >
                <div class="form-group col-lg-8 col-centered">
                    <label for="username">User Name</label>
                    <input type="text" class="form-control" id="username" placeholder="User Name" ng-model="profile.username"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-8 col-centered">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="profile.firstName"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-8 col-centered">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="profile.lastName"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-8 col-centered">
                    <label for="description">Description</label>
                     <textarea  class="form-control" id="description" placeholder="Tell us what you do, did, will do"
                                ng-model="profile.description">
                    </textarea>
                </div>
            </div>
            <!--<div class="row">-->
            <!--<div class="form-group col-xs-12 col-lg-8">-->
            <!--<label for="dob">Date of Birth:</label>-->
            <!--<input type="date" class="form-control" id="dob" ng-model="profile.dob"/>-->
            <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="form-group col-lg-8 col-centered">
                    <label for="role">
                        Who are you?
                    </label>
                    <div id="role">
                        <select class="form-control" ng-model="profile.roles">
                            <option ng-selected="profile.roles == 'Director'" >Director</option>
                            <option ng-selected="profile.roles == 'Actor'" >Actor</option>
                            <option ng-selected="profile.roles == 'Producer'" >Producer</option>
                            <option ng-selected="profile.roles == 'Cinematographer'">Cinematographer</option>
                            <option ng-selected="profile.roles == 'Music Director'">Music Director</option>
                        </select>
                    </div>
                </div></div>
            <div class="row">
                <div class="form-group col-centered">
                    <div class="col-sm-offset-3 col-sm-9">
                        <!--<button type="submit" class="btn btn-default" href="home.view.html">Register</button>-->
                        <a href="#/profile" class="btn btn-primary btn-lg" ng-click="update()">Update</a>
                    </div>
                </div>
            </div>


            <div class="row" ng-if="shortLikes">
                <h2 class=""> Shorts you like</h2>
                <div ng-repeat="short in shortLikes">
                    <a href="#/details/search/{{short._id}}"><p>{{short.title}}</p></a>
                </div>
            </div>
        </div>

    </div>

</div>

<br>
<br>



