<div class="container-fluid col-xs-12" ng-controller="PostController">
    <video autoplay loop muted id="bgvid">
        <source src="css/videos/Blurry-People.mp4" type="video/mp4">
    </video>
    <div class="row">
        <div ng-include="'views/sidebar/sidebar.view.html'">
        </div>
        <div class="container-fluid col-md-9">
            <div class="row">

                <div class="col-md-12 col-xs-12">
                    <div class="well panel panel-default box-shadow--16dp">
                        <div ng-show="model.error" class="alert alert-danger" role="alert">
                            {{error}}
                            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                            <form class="form-horizontal col-md-12">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input id="title" type="text" class="form-control" placeholder="Post title" ng-model="model.post.title">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" id="description" ng-model="model.post.description" placeholder="Post short gigs, share interesting facts!"></textarea>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-success btn-lg" ng-show="!model.updateFlag" ng-click="model.createPost(model.post)"><i class="fa fa-plus" aria-hidden="true"> Add</i></a>
                                    <a class="btn btn-warning btn-lg" ng-show="model.updateFlag" ng-click="model.updatePost(model.post)"><i class="fa fa-pencil" aria-hidden="true"> Update</i></a>
                                    <a class="btn btn-default btn-lg" ng-show ="model.updateFlag" ng-click="model.cancel()"><i class="fa fa-times" aria-hidden="true"> Cancel</i></a>
                                </div>
                            </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    <div class="row"  ng-if="model.posts.length>0">
        <div class="container-fluid col-md-offset-3 col-md-9">
        <div class="well panel panel-default box-shadow--16dp">
            <div>
                <h2>Your Posts</h2>
                <div ng-repeat="post in model.posts">
                    <div class="well panel panel-info box-shadow--16dp">
                        <div class="panel-heading">
                            <div class="pull-right">
                                <a class="btn btn-danger" ng-click="model.deletePost($index)" ><span class="fa fa-trash"></span></a>
                                <a class="btn btn-warning" ng-click="model.selectPost($index)"><span class="fa fa-pencil"></span></a>
                            </div>
                            <h4>
                                <a href="#/details/posts/{{post._id}}">{{post.title}}</a>
                            </h4>

                        </div>
                        <div class="visible-lg panel-body">
                            {{post.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>


</div>







