
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="ProfileController">
    <div class="container">
    <h1 class="page-header">{{ currentUser.username }}</h1>
    <ul class="nav nav-tabs" data-tabs="tabs">
        <li ng-class="{'active': $location.path() == '/profile'}" ><a data-toggle="tab" href="#profile">Profile</a></li>
        <li ng-class="{'active': $location.path() == '/posts'}" ><a data-toggle="tab" href="#yourposts">Your Posts</a></li>
        <li ng-class="{'active': $location.path() == '/shorts'}" ><a data-toggle="tab" href="#yourshorts">Your Shorts</a></li>
    </ul>
    <div class="tab-content">
        <div id="profile" class="tab-pane fade">
            <form >
        <div class="row">
            <div class="form-group col-xs-6 col-lg-6">
                <label for="profileName">Profile Name</label>
                <input type="text" class="form-control" id="profileName" placeholder="Profile Name"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6 col-lg-6">
                <label for="description">Description</label>
                <textarea  class="form-control" id="description" placeholder="Tell us what you do, did, will do">
                    </textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-6 col-lg-6">
                <label for="dob">Date of Birth:</label>
                <input type="date" class="form-control" id="dob"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6 col-lg-6">
                <label for="role">
                   Who are you?
                </label>
                <div id="role">
                    <select class="form-control">
                        <option>Director</option>
                        <option>Actor</option>
                        <option>Producer</option>
                        <option>Cinematographer</option>
                        <option>Music Director</option>
                    </select>
                </div>
            </div>
        </div>
        </form>
        </div>
        <div id="yourposts" class="tab-pane fade" ng-if="posts">
            <h3>Your Posts</h3>
            <div ng-repeat="post in posts">
                <h4>
                    <a href="#/details/posts/{{post.id}}">
                        {{post.title}}
                    </a>
                    <a ng-click="deletePost($index)" ><span class="glyphicon glyphicon-remove"></span></a>
                    <a ng-click="selectPost($index)"><span class="glyphicon glyphicon-pencil"></span></a>
                </h4>
            </div>
        </div>
        <div id="yourshorts" class="tab-pane fade table-responsive" ng-if="shorts">
            <h3>Your Shorts</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Short</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="short in shorts">
                    <td>
                        <a href="#/details/{{short.id}}">
                            {{short.title}}
                        </a>
                    </td>
                    <td>
                        <iframe ng-src="{{short.url}}" width='400' height='225' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen> </iframe>
                    </td>
                    <td>
                        <button
                                ng-click="selectShort($index)"
                                class="btn btn-default">
                            Select
                        </button>
                        <button
                                ng-click="deleteShort($index)"
                                class="btn btn-danger">
                            Delete
                        </button>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
        </div>
</div>
