<div class="container-fluid" ng-controller="FieldController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms : {{ form.title }}</h1>
            <ul class="nav nav-tabs" data-tabs="tabs">
                <li><a href="#/form">Forms</a></li>
                <li class="active"><a href="#/fields">Fields</a></li>
            </ul>
            <form field-sortable axis="y">
                <div class="row"  ng-repeat="field in fields">
                    <div class="form-group col-xs-6 col-lg-6" ng-if="field.type == 'TEXT'">
                        <label>{{field.label}}</label>
                        <input type="text" class="form-control"  placeholder="{{field.placeholder}}" />
                    </div>
                    <div class="form-group col-xs-6 col-lg-6" ng-if="field.type == 'EMAIL'">
                        <label>{{field.label}}</label>
                        <input type="email" class="form-control"  placeholder="{{field.placeholder}}" />
                    </div>
                    <div class="form-group col-xs-6 col-lg-6" ng-if="field.type == 'TEXTAREA'">
                        <label>{{field.label}}</label>
                        <textarea class="form-control" placeholder="{{field.placeholder}}"></textarea>
                    </div>
                    <div class="form-group col-xs-6 col-lg-6" ng-if="field.type == 'OPTIONS'">
                        <label ng-model="field.label">{{field.label}}</label>
                        <select class="form-control" >
                            <option ng-repeat="option in field.options">
                                {{option.value}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-xs-6 col-lg-6" ng-if="field.type =='DATE'">
                        <label >{{field.label}}</label>
                        <input type="date" class="form-control" />
                    </div>
                    <div class="form-group col-xs-6 col-lg-6" ng-if="field.type =='CHECKBOXES'">
                        <label >{{field.label}}</label>
                        <div class="checkbox">
                            <label for="admin" ng-repeat="option in field.options track by $index">
                                <input type="checkbox" id="admin" checked/> {{option.label}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-xs-6 col-lg-6" ng-if="field.type =='RADIOS'">
                            <label >{{field.label}}</label>
                            <div class="radio" id="license" ng-repeat="option in field.options">
                                <label><input  type="radio" >{{option.label}}</label><br>
                            </div>
                    </div>
                    <div class="col-xs-6">
                        <span class="glyphicon glyphicon-pencil push" data-toggle="modal" data-target="#myModal" ng-click="displayField(field)"></span>
                        <span class="glyphicon glyphicon-remove push" ng-click="removeField(field)"></span>
                    </div>
                </div>
                </form>
                <div class="row">
                    <div class="form-group col-xs-6 col-lg-6">
                        <label for="newField">
                            Add New Field:
                        </label>
                        <div id="newField">

                            <select ng-model="field.fieldType" class="form-control">
                                <option value="0">
                                    Single Line Text
                                </option>
                                <option value="1">
                                    Date
                                </option >
                                <option value="2">
                                    Dropdown
                                </option>
                                <option value="3">
                                    Checkboxes
                                </option>
                                <option value="4">
                                    Radio buttons
                                </option>
                                <option value="5">
                                    Multiline Text
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <span class="glyphicon glyphicon-plus push" ng-click="addField(field.fieldType)" ></span>

                    </div>
                    </div>
                    <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{modal.label}}</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group col-xs-6 col-lg-6" ng-if="modal.type == 'TEXT'">
                                            <label >Label
                                            <input type="text" class="form-control" ng-model="modal.label"  />
                                            </label>
                                            <label >Placeholder
                                            <input type="text" class="form-control" ng-model="modal.placeholder"/>
                                            </label>
                                        </div>
                                        <div class="form-group col-xs-6 col-lg-6" ng-if="modal.type == 'TEXTAREA'">
                                            <label>Label</label>
                                            <input type="text" class="form-control" ng-model= "modal.label" />
                                            <label>Placeholder
                                            <textarea class="form-control" ng-model = "modal.placeholder" ></textarea>
                                            </label>
                                        </div>
                                        <div class="form-group col-xs-6 col-lg-6" ng-if="modal.type == 'OPTIONS'">
                                            <label>Label
                                            <input type="text" class="form-control" ng-model="modal.label" />
                                            </label>
                                            <label>Options
                                                <textarea class="form-control" ng-model="modal.options" ></textarea>
                                            </label>
                                        </div>
                                        <div class="form-group col-xs-6 col-lg-6" ng-if="modal.type =='DATE'">
                                            <label>Label
                                                <input type="text" class="form-control"  ng-model="modal.label" />
                                            </label>
                                        </div>
                                        <div class="form-group col-xs-6 col-lg-6" ng-if="modal.type =='CHECKBOXES'">
                                            <label>Label
                                            <input type="text" class="form-control"  ng-model="modal.label" />
                                            </label>
                                            <label>Options
                                            <textarea class="form-control" ng-model="modal.options" ></textarea>
                                            </label>
                                        </div>
                                        <div class="form-group col-xs-6 col-lg-6" ng-show="modal.type =='RADIOS'">
                                            <label>Label
                                            <input type="text" class="form-control" ng-model="modal.label" />
                                            </label>
                                            <label>Options
                                            <textarea class="form-control" ng-model="modal.options"></textarea>
                                            </label>
                                        </div>
                                        <div class="form-group col-xs-6 col-lg-6" ng-show="modal.type =='DROPDOWN'">
                                            <label>Label
                                                <input type="text" class="form-control" ng-model="modal.label" />
                                            </label>
                                            <label>Options
                                                <textarea class="form-control" ng-model="modal.options"></textarea>
                                            </label>
                                        </div>
                                    </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" ng-click="editField(modal)" data-dismiss="modal">Save changes</button>
                                </div>
                            </div>
                            </div>
                        </div>
        </div>
    </div>
</div>



