


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" ng-controller="ProfileController">
            <h1 class="page-header">Profile</h1>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-3 control-label">Username</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="profile.username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="profile.password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFirstname" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputFirstname" placeholder="First Name" ng-model="profile.firstName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLastName" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" ng-model="profile.lastName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail" placeholder="youremail@domain.com" ng-model="profile.email">
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <!--<button type="submit" class="btn btn-default" href="home.view.html">Register</button>-->
                        <a href="#/profile" class="btn btn-primary btn-lg" ng-click="update()">Update</a>
                    </div>
                </div>
            </form>
        </div>
