
<div class="container-fluid col-xs-12" ng-controller="ProfileController">
    <video autoplay loop muted id="bgvid">
        <source src="css/videos/Blurry-People.mp4" type="video/mp4">
    </video>
    <div class="row">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="#/feed">
                                <i class="fa fa-home"></i>
                                Feed </a>
                        </li>
                        <li ng-class="{'active': $location.path() == '/profile'}">
                            <a href="#/profile">
                                <i class="fa fa-user"></i>
                                Profile</a>
                        </li>
                        <li>
                            <a href="#/shorts" >
                                <i class="fa fa-video-camera"></i>
                                Shorts </a>
                        </li>
                        <li>
                            <a href="#/posts">
                                <i class="glyphicon glyphicon-flag"></i>
                                Posts </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="container-fluid col-md-9">
            <div class="well panel panel-default box-shadow--16dp">
                <div ng-show="model.nofeed" class="alert alert-info" role="alert">
                    <p>Your feed is empty :(! Start following people to get updates</p>
                </div>
                <div ng-show ="model.feedPosts.length > 0 || model.feedShorts.length > 0" class="panel-body">
                    <div class="container-fluid">
                        <h3>Your feed</h3>
                        <div class="row col-sm-12" ng-if="model.feedPosts.length >0">
                            <div ng-repeat="post in model.feedPosts">
                                <div class="well panel panel-info box-shadow--16dp">
                                    <div class="panel-heading">{{post.title}}</div>
                                    <div class="panel-body" >
                                        <p class="visible-lg">{{post.description}}</p>
                                        <a href="#/profile/public/{{short.createdByUser}}"><p class="visible-lg"><strong>{{short.createdByUser}}</strong> </p></a>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <p>Shorts from people you follow</p>
                            <div ng-repeat="short in model.feedShorts">
                                <div class="well panel panel-success box-shadow--16dp">
                                    <div class="panel-heading">{{short.title}}</div>
                                            <div class="panel-body" >
                                                <p class="visible-lg">{{short.description}}</p>
                                                 <a href="#/profile/public/{{short.createdByUser}}"><p class="visible-lg"><strong>{{short.createdByUser}}</strong> </p></a>
                                                <div class="embed-responsive embed-responsive-4by3">
                                                    <iframe class="embed-responsive-item" src="{{short.url}}"></iframe>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>

</div>









