<div class="container-fluid col-xs-12">
    <video autoplay loop muted id="bgvid">
        <source src="css/videos/Blurry-People.mp4" type="video/mp4">
    </video>
    <div class="row">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="#/feed">
                                <i class="fa fa-home"></i>
                                Feed </a>
                        </li>
                        <li ng-class="{'active': $location.path() == '/profile'}">
                            <a href="#/profile">
                                <i class="fa fa-user"></i>
                                Profile</a>
                        </li>
                        <li>
                            <a href="#/shorts" >
                                <i class="fa fa-video-camera"></i>
                                Shorts </a>
                        </li>
                        <li>
                            <a href="#/posts">
                                <i class="glyphicon glyphicon-flag"></i>
                                Posts </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="container-fluid col-md-9">
            <div class="well panel panel-default box-shadow--16dp">
                <div ng-show="model.nofeed" class="alert alert-info" role="alert">
                    <p>Your feed is empty :(! Start following people to get updates</p>
                </div>
                <div ng-show ="model.feedPosts.length > 0 || model.feedShorts.length > 0" class="panel-body">
                    <div class="container-fluid">
                        <h3>Your feed</h3>
                        <div class="row col-sm-12" ng-if="model.feedPosts.length >0">
                            <div ng-repeat="post in model.feedPosts">
                                <div class="well panel panel-info box-shadow--16dp">
                                    <div class="panel-heading">{{post.title}}</div>
                                    <div class="panel-body" >
                                        <p class="visible-lg">{{post.description}}</p>
                                        <a href="#/profile/public/{{post.createdByUser}}"><p class="visible-lg"><strong>{{post.createdByUser}}</strong> </p></a>
                                    </div>

                                    <div class="actionBox" >
                                        <ul class="commentList">
                                            <li ng-repeat="comment in post.comments">
                                                <div ng-if="currentUser._id == comment.userId" class="pull-right">
                                                    <a href=""><i class="fa fa-times" aria-hidden="true" ng-click="model.deleteComment(post,comment)"></i></a>
                                                </div>
                                                <div class="commenterImage">
                                                    <img src="http://lorempixel.com/50/50/people/6" />
                                                </div>
                                                <div class="commentText">
                                                    <p><strong><a href="#/public/profile/{{comment.username}}"><span class="tags">{{comment.username}}</span></a></strong></p>
                                                    <p class="">{{comment.content}}</p> <span class="date sub-text">on March 5th, 2014</span>
                                                </div>

                                            </li>
                                        </ul>
                                        <form class="form-inline" role="form">
                                            <div class="input-group col-xs-6 col-sm-4 col-lg-8">
                                                <input class="form-control" type="text" placeholder="Add a comment..." ng-model="model.comment.content"/>
                                            </div>
                                            <div class="input-group">
                                                <button class="btn btn-success visible-lg visible-md" ng-click="model.addComment(post,model.comment)">Comment</button>
                                                <button class="btn btn-success visible-xs" ng-click="model.addComment(post,model.comment)"><i class="fa fa-comment" aria-hidden="true"></i></button>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <p>Shorts from people you follow</p>
                            <div ng-repeat="short in model.feedShorts">
                                <div class="well panel panel-success box-shadow--16dp">
                                    <div class="panel-heading">{{short.title}}</div>
                                            <div class="panel-body" >
                                                <p class="visible-lg">{{short.description}}</p>
                                                 <a href="#/profile/public/{{short.createdByUser}}"><p class="visible-lg"><strong>{{short.createdByUser}}</strong> </p></a>
                                                <div class="embed-responsive embed-responsive-4by3">
                                                    <iframe class="embed-responsive-item" src="{{short.url}}"></iframe>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>

</div>









