
<div class="container-fluid col-xs-12" ng-controller="ShortController">
    <video autoplay loop muted id="bgvid">
        <source src="css/videos/Blurry-People.mp4" type="video/mp4">
    </video>
    <div class="row">
        <div ng-include="'views/sidebar/sidebar.view.html'">
        </div>
        <div class="container-fluid col-md-9">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="well panel panel-default box-shadow--16dp">
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div ng-if="shorts">
                                    <div ng-repeat="short in shorts">

                                        <div class="short-panel panel panel-default col-xs-12 col-lg-6 box-shadow--16dp">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">{{short.title}}</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="embed-responsive embed-responsive-4by3">
                                                    <iframe class="embed-responsive-item" ng-src="{{short.url}}" width='400' height='225' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen> </iframe>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                <div class="btn-group btn-group-justified">
                                                    <div class="btn-group">
                                                        <button class="visible-lg btn btn-default" ng-click="selectShort($index)" >
                                                            <i class="fa fa-check"></i>
                                                            Select
                                                        </button>
                                                        <div class="visible-xs"><a href="" ng-click="selectShort($index)"><i class="fa fa-check"></i></a></div>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button class="visible-lg btn btn-danger" ng-click="deleteShort($index)">
                                                            <i class="fa fa-trash"></i>
                                                            Delete
                                                        </button>

                                                        <div class="visible-xs"><a href="" ng-click="deleteShort($index)"><i class="fa fa-trash"></i></a></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <form class="form-horizontal col-md-12">
                                    <div ng-show="error" class="alert alert-danger" role="alert">
                                        {{error}}
                                        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    </div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input id="title" type="text" class="form-control" placeholder="Short title" ng-model="short.title">
                    </div>
                    <div class="form-group">
                        <label for="title">Description</label>
                        <textarea class="form-control" id="options" ng-model="short.description" placeholder="Short description">Description</textarea>
                    </div>
                    <div class="form-group">
                        <label for="language">Language</label>
                        <input id="language" type="text" class="form-control" placeholder="Short language" ng-model="short.language">
                    </div>
                    <div class="form-group">
                        <label for="url">URL</label>
                        <input id="url" type="text" class="form-control" placeholder="Short URL" ng-model="short.url">
                    </div>
                    <div class="form-group">
                        <a class="btn btn-success btn-lg" ng-show = "!updateFlag" ng-click="addShort(short)"><i class="fa fa-plus" aria-hidden="true"> Add</i></a>
                        <a class="btn btn-warning btn-lg" ng-show ="updateFlag" ng-click="updateShort(short)"><i class="fa fa-pencil" aria-hidden="true"> Update</i></a>
                        <a class="btn btn-default btn-lg" ng-show ="updateFlag" ng-click="cancel()"><i class="fa fa-times" aria-hidden="true"> Cancel</i></a>
                    </div>
                </form>

                             </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
</div>


</div>

<br>
<br>
