
<div class="container-fluid col-md-offset-2 col-xs-offset-0 " ng-if="model.shorts">
    <video autoplay loop muted id="bgvid">
        <source src="css/videos/Night-Traffic.mp4" type="video/mp4">
    </video>

    <h3>Search Results</h3>

    <div ng-repeat="short in model.shorts">
         <div class="short-panel panel panel-default col-lg-6">
                    <div class="panel-heading clearfix">
                        <div class="row">
                            <h3 class="panel-title">{{short.title.slice(0,45)}}</h3>
                        </div>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" ng-src="{{short.url}}" width='400' height='225' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen> </iframe>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <a href="#/details/search/{{short.id}}" class="btn btn-info">
                                    <i class="fa fa-eye"></i>
                                    View
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
</div>










