<!--<div class="container-fluid" ng-controller="SearchController">-->
    <!--<video autoplay loop muted id="bgvid">-->
        <!--<source src="css/videos/Sunset-Lapse.mp4" type="video/mp4">-->
    <!--</video>-->
    <!--<div class="row col-sm-12">-->
        <!--<div class="col-sm-12">-->
            <!--<h1 class="page-header">ShortKut</h1>-->
            <!--<div class="featurette">-->
                <!--<div class="featurette-inner text-center">-->
                    <!--<form role="form" class="search has-button ng-pristine ng-valid">-->

                        <!--<div class="form-group">-->
                            <!--<input type="search" placeholder="Search shorts..." class="form-control form-control-lg" ng-model="query">-->

                                <!--<a href="#/search/{{query}}" class="btn btn-warning btn-block">-->
                                    <!--Search-->
                                <!--</a>-->

                        <!--</div>-->
                        <!--&lt;!&ndash; /form-group &ndash;&gt;-->
                    <!--</form>-->
                    <!--&lt;!&ndash; /.max-width on this form &ndash;&gt;-->

                <!--</div>-->
                <!--&lt;!&ndash; /.featurette-inner (display:table-cell) &ndash;&gt;-->

            <!--</div>-->

        <!--</div>-->

    <!--</div>-->
<!--</div>-->
<!--<div id="vidtop-content" class="col-md-offset-1 col-xs-offset-0 container-fluid" ng-if="shorts">-->
    <!--<h3>Search Results</h3>-->
    <!--<div class="card-deck-wrapper">-->
        <!--<div class="card-deck">-->
            <!--<div ng-repeat="short in shorts">-->
                <!--<div class="card col-lg-12 col-xs-12">-->
                    <!--<div class="card-block">-->
                        <!--<iframe ng-src="{{short.url}}" width='400' height='225' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen> </iframe>-->
                        <!--<h4 class="card-title">{{short.title}}</h4>-->
                        <!--<a href="#/details/search/{{short.id}}" class="btn btn-primary">View</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->





<!--<div class="card">-->
    <!--<iframe ng-src="{{short.url}}" width='400' height='225' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen> </iframe>-->
    <!--<div class="card-block">-->
        <!--<h4 class="card-title">{{short.title}}</h4>-->
        <!--<p class="card-text">{{short.description}}</p>-->
        <!--<a href="#/details/search/{{short.id}}" class="btn btn-primary">View</a>-->
    <!--</div>-->
<!--</div>-->






